/* Общий стиль для body */
body {
  margin: 0;
  padding: 0;
  background-color: #e0f7fa; /* мягкий синий цвет */
  font-family: Arial, sans-serif;
}

/* Стили для базового элемента root */
#root {
  height: 100vh; /* высота на весь экран */
  display: flex;
  justify-content: center;
  align-items: center;
}